<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Horas Acumuladas<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<a href="reportImages/directHours.png"> <img
				src="reportImages/directHours.png" alt="..." class="img-container"></a>
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Tendencias de Horas<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<a href="reportImages/directTimeTrend.png"> <img
				src="reportImages/directTimeTrend.png" alt="..."
				class="img-container"></a>
		</div>
	</div>
</div>