<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>General</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<table name="performanceTable" border="1"
				class="table table-bordered table-striped table-responsive">
				<tbody>
					<tr>
						<td class="header">Fecha</td>
						<td class="header">Valor</td>
					</tr>
					<tr>
						<td>Fecha del Reporte</td>
						<td class="data">${gn.dateReport}</td>
					</tr>
					<tr class="alt">
						<td>Periodo Reportado</td>
						<td class="data">${gn.reportedPeriod}</td>
					</tr>
					<tr>
						<td>Fecha fin planeada</td>
						<td class="data">${gn.dateEndPlanned}</td>
					</tr>
					<tr class="alt">
						<td>Estatus</td>
						<td class="data">${gn.status}</td>
					</tr>
					<tr>
						<td>Fecha Fin Pronosticada</td>
						<td class="data">${gn.dateForecast}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>