<div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
	<div class="well profile_view">
		<div class="col-sm-12">
			<h4 class="brief">
				<i>Support</i>
			</h4>
			<div class="left col-xs-7">
				<h2>Daniel Cortes Pichardo</h2>
				<p>
					<strong>Desarrollo: </strong> Report Suppport
				</p>
				<ul class="list-unstyled">
					<li><i class="fa fa-building"></i> INFOTEC-DADS</li>
					<li><i class="fa fa-envelope"></i> daniel.cortes@infotec.mx</li>
					<li><i class="fa fa-phone"></i> +52(55)56242800 Ext.4712</li>
				</ul>
			</div>
			<div class="right col-xs-5 text-center">
				<img src="images/user.png" alt="" class="img-circle img-responsive">
			</div>
		</div>
		<div class="col-xs-12 bottom text-center">
			<div class="col-xs-12 col-sm-6 emphasis">
				<p class="ratings">
					<a>5.0</a> <a href="#"><span class="fa fa-star"></span></a> <a
						href="#"><span class="fa fa-star"></span></a> <a href="#"><span
						class="fa fa-star"></span></a> <a href="#"><span
						class="fa fa-star"></span></a> <a href="#"><span
						class="fa fa-star"></span></a>
				</p>
			</div>

		</div>
	</div>
</div>