<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Valor Ganado<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<a href="reportImages/ev.png"> <img src="reportImages/ev.png"
				alt="..." class="img-container"></a>
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Valor Ganado (Tendencia)<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<a href="reportImages/evTrend.png"> <img
				src="reportImages/evTrend.png" alt="..." class="img-container"></a>
		</div>
	</div>
</div>