<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>Reporte</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<table name="summary" class="table table-responsive table-striped">
				<tbody>
					<tr>
						<td></td>
						<td class="header" colspan="3">Direct Hours</td>
						<td></td>
						<td class="header" colspan="3">Earned Value</td>
					</tr>
					<tr>
						<td></td>
						<td class="header">Plan</td>
						<td class="header">Actual</td>
						<td class="header">Actual/Plan</td>
						<td></td>
						<td class="header">Plan</td>
						<td class="header">Actual</td>
						<td class="header">Actual/Plan</td>
					</tr>
					<tr>
						<td class="left">This Week</td>
						<td class="data">${data00}</td>
						<td class="data">${data01}</td>
						<td class="data">${data02}</td>
						<td></td>
						<td class="data">${data03}</td>
						<td class="data">${data04}</td>
						<td class="data">${data05}</td>
					</tr>
					<tr class="alt">
						<td>To Date</td>
						<td class="data">${data10}</td>
						<td class="data">${data11}</td>
						<td class="data">${data12}</td>
						<td></td>
						<td class="data">${data13}</td>
						<td class="data">${data14}</td>
						<td class="data">${data15}</td>
					</tr>
					<tr>
						<td>Average per Week To Date</td>
						<td class="data">${data20}</td>
						<td class="data">${data21}</td>
						<td class="data">${data22}</td>
						<td></td>
						<td class="data">${data23}</td>
						<td class="data">${data24}</td>
						<td class="data">${data25}</td>
					</tr>
					<tr class="alt">
						<td>Completed Tasks To Date</td>
						<td class="data">${data30}</td>
						<td class="data">${data31}</td>
						<td class="data">${data32}</td>
						<td></td>
						<td class="data">${data33}</td>
						<td class="data">${data34}</td>
						<td class="data">${data35}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>